:root {
    --blue: #0096C7;
    --color1: #566473 --color2: #16a085 --color3: #435a6b
}
.yellow-underline {
    text-decoration: underline;
    text-decoration-color: var(--blue);
}
/* #0096C7 Button componen */
.btn_about {
    /* Color del texo */
    color: #0096C7;
    color: #0096C7;
    /* Eliminar color de fondo */
    background: transparent;
    background: transparent;
    /* Grosor del borde, estilo de línea y color */
    border: 2px solid #0096C7;
    border: 2px solid #0096C7;
    /* Añadir esquinas curvadas */
    border-radius: 6px;
    border-radius: 6px;
    /* Poner texto en mayúsculas */
    background-color: #EDF2F4;
    color: #2B2D42;
    border: 2px solid #0096C7;
    border: none;
    color: #5e5e5e;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.btn1_about {
    background-color: #EDF2F4;
    color: #2B2D42;
    border: 2px solid #0096C7;
}

.btn1_about:hover {
    background-color: #0096C7;
    color: #EDF2F4;
    background-color: #0096C7;
    color: #EDF2F4;
}

.btn2_about {
    background-color: #EDF2F4;
    color: #0096C7;
    border: 2px solid #2B2D42;
}

.btn2_about:hover {
    background-color: #2B2D42;
    color: #EDF2F4;
    background-color: #2B2D42;
    color: #EDF2F4;
}
/*  For svg format */
.bg_upper_blue {
    background: url(../images/resources_svg/svg_upper_blue.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.bg_lower_blue {
    background: url(../images/resources_svg/svg_lower_blue.svg);
    background-repeat: no-repeat;
    background-position: top;
}
.bg_blob_blue{
    background: url(../images/resources_svg/blob_blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20rem;
}
.description_me{
    align-content: center;
}