/*
    Tips
        Unidades de medida recomendadas para usar em o rem
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
:root{
    --yellow: #EF233C;
    --color1: #566473
    --color2: #16a085
    --color3: #435a6b
}
/* Estilos globales */
body{
    font-family: 'Dm Sans', sans-serif;
    background-color: #EDF2F4;
}
dt{
    font-size: 1.5em;
    font-weight: bold;
}
/* Estilos de utilidad */
.cerifications{
    font-size: 1em;
    font-weight: bold;
    padding: 5em;
}
.section_separator{
    margin-top: 4.37rem;
}
.image_width{
    width: 3.12rem;
}
.bg{
    background-color: #D90429;
}
.container{
    width: 60rem;
    max-width: 100%;
    margin: 0 auto;
}
.center-vertical-and-horizontal{
    display: flex;
    align-items: center;
    justify-items: center;
}
.color-titles{
    color: #2B2D42;
}
.title, h1{
    font-size: 4rem;
}
.subtitle{
    font-size: 3em;
    font-weight: bold;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
}
.yellow-underline{
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}
.bg-yellow{
    background-color: var(--yellow);
}
.section-padding{
    align-self: center;
    padding: 4.25rem 2rem;
}
/*.yellow-underline{
    position: relative;
    display: inline-block;
    z-index: 1;
}
.yellow-underline::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 0.56rem;
    background-color: var(--yellow);
    width: 100%;
    z-index: -1;
}*/
/* Estilos de componentes */
.avatar{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    flex-basis: 350px;
    align-self: center;
}
.text-and-image{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    text-align: center;
}
.text-and-image .main-content{
    display: grid;
    gap: 3em;
    flex-grow: 1;
    grid-template-rows: auto minmax(0,1fr) auto;
    justify-items: center;
}
.text-and-image.cover{
    padding-bottom: 0;
}
.text-and-image .actions{
    margin-bottom: 4.25em;
}
main-content{
    flex-grow: 1;
    display: flex;
}
.items{
    gap: 1.2em;
    box-sizing: border-box;
}
.items header{
    grid-column: span 12;
}
.items .item{
    background-color: white;
    grid-column: span 12;
}
.item .background{
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-size: cover;
}
.item header{
    padding: 1.5em 2em;
}
.button-and-icons{
    color: #000;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}
/* Button componen */
.btn {
    /* Color del texo */
    color: #D90429; 
    color: #D90429; 
    /* Eliminar color de fondo */
    background: transparent; 
    background: transparent; 
    /* Grosor del borde, estilo de línea y color */
    border: 2px solid #D90429;
    border: 2px solid #D90429;
    /* Añadir esquinas curvadas */
    border-radius: 6px; 
    border-radius: 6px; 
    /* Poner texto en mayúsculas */
    background-color: #EDF2F4; 
    color: #2B2D42; 
    border: 2px solid #D90429;
    border: none;
    color: #EDF2F4;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.btn1 {
    background-color: #EDF2F4; 
    color: #2B2D42; 
    border: 2px solid #D90429;
}
.btn1:hover {
    background-color: #D90429;
    color: #EDF2F4;
    background-color: #D90429;
    color: #EDF2F4;
}
.btn2 {
    background-color: #EDF2F4; 
    color: #D90429; 
    border: 2px solid #2B2D42;
}
.btn2:hover {
    background-color: #2B2D42;
    color: #EDF2F4;
    background-color: #2B2D42;
    color: #EDF2F4;
}
/* Media Querys */
@media(min-width:60rem){
    .items .item{
        grid-column: span 4;
    }
    .element-with-images.reverse{
        flex-direction: row-reverse;
    }
    .element-with-images .images{
        flex: 0 0 50%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        grid-template-rows: repeat(2, minmax(0,1fr));
        grid-template-areas: ". rigth-image"
        "left-image .";
    }
    .element-with-images .images img:first-child{
        grid-area: rigth-image;
    }
    .element-with-images .images img:last-child{
        grid-area: left-image;
    }
    .element-with-images{
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
    .element-with-images .text{
        flex: 1;
        max-width: 100%;
        align-self: center;
    }
    .text-and-image .text{
        flex: 1;
        text-align: left;
    }
    .text-and-image .main-content{
        justify-items: start;
        text-align: left;
    }
    .text-and-image{
        flex-direction: row;
        align-items: stretch;
    }
}