@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    overflow: hidden;
}

body {
    display: inline-flex;
    align-items: center;
    font-family: 'Monument Extended', sans-serif;
}

  .cursor, .follow {
    position: absolute;
    pointer-events: none;
    width: 0.4em;
    height: 0.4em;
    transform: translate(-50%, -50%);
}

.cursor {
    background: white;
    border-radius: 50%;
}

.follow {
    padding: 2rem;
    border: 0.1rem solid white;
    transition: all 0.2s ease-out;
    border-radius: 100%;
}

.follow.on-focus {
    transform: translate(-0.55rem, -0.55rem);
    border: 0.1rem solid white;
    border-radius: 0%;
    padding: 0.46rem;
}

.button1 {
    position: relative;
    font-size: 30px;
    bottom: 43%;
    left: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 4rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: lighter;
    color: grey;
    text-decoration: none;
}

.button1:hover {
    color: white;
}

.return {
    font-size: 30px;
    position: absolute;
    left: -2%;
    bottom: -2%;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 4rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: lighter;
    color: grey;
    text-decoration: none;
}

img {
  position: relative;
  bottom: 200px;
  left: 27%;
}

h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 15%;
    text-align: center;
}